{% assign document = post | default: page %}
{% if document.read_time or document.show_date %}
  <p class="page__meta">
    {% if document.show_date and document.date %}
      {% assign date = document.date %}
      <span class="page__meta-date">
        <i class="solid-calendar-days {% if include.type == 'grid' and document.read_time and document.show_date %}ic-fw {% endif %}" aria-hidden="true"></i>
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: date_format }}</time>
      </span>
    {% endif %}

    {% if document.read_time and document.show_date %}<span class="page__meta-sep"></span>{% endif %}

    {% if document.read_time %}
      {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
      {% assign words = document.content | strip_html | number_of_words %}

      <span class="page__meta-readtime">
        <i class="regular-clock {% if include.type == 'grid' and document.read_time and document.show_date %}ic-fw {% endif %}" aria-hidden="true"></i>
        {% if words < words_per_minute %}
          {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% elsif words == words_per_minute %}
          1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% else %}
          {{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% endif %}
      </span>
    {% endif %}

    {% if document.read_time and document.show_date and page.collection == "posts" %}<span class="page__meta-sep"></span>
<!-- This part add a link to view the source file (rmd or md) for the current post -->
    <span class="page__meta-date">
      {% if page.layout != "home" %}   
        {% if page.RmdSource %}
          <i class="brands-r-project ic-fw" aria-hidden="true"></i> <a href= "https://github.com/{{ site.repository }}/blob/master/{{ page.RmdSource }}" >View Source</a> 
        {% else %}
          <i class="brands-markdown ic-fw" aria-hidden="true"></i> <a href= "https://github.com/{{ site.repository }}/blob/master/{{ page.path }}">View Source</a> 
        {% endif %}
      {% endif %}
    </span>
    {% endif %}
  </p>
{% endif %}
