
.csl-entry {
    display: list-item;
  }

.html-widget {
    margin: auto;
    margin-bottom: 0.5em;
}


p.caption {
  margin-bottom: 1.5em;
  color: #646769;
  font-family: Georgia,Times,serif;
  font-size: .75em;
}