// Custom CSS entries
.csl-entry {
    display: list-item;
  }

.html-widget {
    margin: auto;
    margin-bottom: 0.5em;
}

// Overrides to theme CSS
p.caption {
  margin-bottom: 0.5em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
    }
  }
}

.sidebar img {
  max-width: 150px;
  border-radius: 0%;
  
  @include breakpoint($large) {
    padding: 0px;
    border: 0px solid $border-color;
  }
}


.dataTables_length {
  label {
  display: inline-flex;
  }

  select {
    background-color: $lighter-gray;
  }
}

.dataTables_filter {
  label {
    display: inline-flex;
    }
  input[type="search"] {
    background-color: $lighter-gray;
    }
}


/*
// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    font-size: 12px; // originally 16px
    
    @include breakpoint($medium) {
        font-size: 14px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 16px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 18px; // originally 22px
    }
}

*/