@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.solid-book-open:before {
  content: "\e910";
}
.osf:before {
  content: "\e90f";
}
.googlescholar:before {
  content: "\e90e";
}
.solid-book:before {
  content: "\e90d";
}
.solid-link:before {
  content: "\e900";
}
.solid-location-dot:before {
  content: "\e901";
}
.solid-tags:before {
  content: "\e902";
}
.brands-youtube:before {
  content: "\e903";
}
.brands-github:before {
  content: "\e904";
}
.brands-researchgate:before {
  content: "\e905";
}
.brands-orcid:before {
  content: "\e906";
}
.brands-linkedin-in:before {
  content: "\e907";
}
.brands-r-project:before {
  content: "\e908";
}
.brands-markdown:before {
  content: "\e909";
}
.regular-clock:before {
  content: "\e90a";
}
.solid-calendar-days:before {
  content: "\e90b";
}
.solid-square-rss:before {
  content: "\e90c";
}
